<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="D2O">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
</phpunit>
